.profilelivreimg {
    width: 160px;
    height: 157px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.table-header, .table-row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
}

.table-header {
    background-color: #e2e2e2;
    font-weight: bold;
}

.right-asideLivre{
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    height: 555px;
}

.left-sectionLivre{
    text-align: center;
    background-color: white;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    height: 600px;
    margin-top: 40px;
}
.compteLivre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Colonne photo avec largeur fixe */
.photo {
    flex: 0 0 70px;
    max-width: 70px;
    padding: 10px;
}

.photo img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}

.cardcompte{
    width: 333px;
    height: 280px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 0.938rem;
    padding-right: 1.125rem;
}

.comptebutton{
    background-color: var(--colorGrisClair);
    color: var(--colorVertPrincipal);
    padding: 0.75rem;
    font-size: 1rem;
    gap: 0.625rem;
    border: 2px solid var(--colorVertPrincipal);
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.infocompte {
    margin-left: 0.938rem;
    margin-right: 1.125rem;
    flex: 1;
    padding-top: 0.938rem;
}

.infocompte > p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.compte-table{
    width: 93%;
    background-color: white;
    border-collapse: separate;
    margin-left: 3%;
    margin-top: 32px;
    border-radius: 10px;
    font-size: 0.75rem;
}

.compte-table thead tr {
    height: 45px;
    vertical-align: middle;
    padding: 0 25px;
    text-align: center;
    background-color: white;
}

.compte-table td {
    height: 60px;
    vertical-align: middle;
    padding: 0 10px;
    text-align: left;
    width: 100px;
}
.compte-table td:nth-child(1) {
    text-align: center;
}

.compte-table td:nth-child(4) {
    text-align: left;
    width: 100px;
}


@media (max-width: 1075px) {
    .left-sectionLivre{
        width: 80%;
    }

}



@media (max-width: 768px) {
   .left-sectionLivre{
       width: 70%;
       height: 1%;
   }
}