a.retour {
    display: inline-block;
    margin-bottom: 10px;
    color: var(--colorGrisTexte);
    text-decoration: none;
    margin-top: 10px;

}

.wrapper {
    /*max-width: 1186px;*/
    /*max-height: 941px;*/
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}


.container-updLivre {
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 1186px;
    max-height: 941px;
    margin-inline: auto;
    padding-inline: 1rem;
    overflow: auto;
}

.infotitre{
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    max-width: 1186px;
    max-height: 941px;
    margin-inline: auto;
    padding-inline: 1rem;
    overflow: auto;
    flex-direction: column;
}

.imageUpd-section {
    flex: 1 1 488px;
    max-width: 488px;
    text-align: right;
}

.imageupd-img{
    width: 100%;
    height: auto;
    display: block;
}

.imageupd-section a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.form-sectionupd {
    flex: 1 1 400px;
    max-width: 100%;
    margin-left: 10%;
    margin-right: 5%;
}

.form-sectionupd form {
    display: flex;
    flex-direction: column;
}

.form-sectionupd label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-sectionupd input,
.form-sectionupd select,
.form-sectionupd textarea {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--Colorfondinput);
}

.form-sectionupd textarea {
    height: 383px;
    max-height: 383px;
    resize: vertical;
    width: 100%;
}

.form-sectionupd button {
    margin-top: 20px;
    padding: 12px;
    font-size: 18px;
    background-color: var(--colorVertPrincipal);
    color: white;
    border: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}

.form-sectionupd button:hover {
    background-color: var(--colorVertSecondaire);
}

@media (max-width: 900px) {
    .container-updLivre {
        flex-direction: column;
        align-items: center;
    }

    .imageupd-section,
    .form-sectionupd {
        max-width: 100%;
        width: 80%;
    }

    .form-sectionupd textarea {
        height: 200px;
    }
}